/* footer styles */

footer {
  /*colors*/
  background: rgba(255, 255, 255, 0.9);
  color: rgb(68, 68, 68);
  font-family: var(--main-font);

  /*display*/
  display: flex;
  justify-content: space-between;
  align-items: center;

  /*sizes*/
  height: 40px;
  width: 100%;
  padding: 0 16px;
  font-size: 0.8em;
  font-weight: 200;

  /*position*/
  position: fixed;
  bottom: 0;
}
