/* footer styles */

footer {
  /*colors*/
  background-color: var(--main-color);
  color: var(--text-color);
  font-family: var(--main-font);
  /*display*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*size*/
  height: 40px;
  width: 100%;
  padding: 0 16px;
  /*position*/
  position: fixed;
  bottom: 0;
}
