/* import poppins font*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/*initialising css rules*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin-block: 0;
  padding-block: 0;
}

#root {
  --main-color: #ffffff;
  --secondary-color: #f5f5f5;
  --text-color: #000000;
  --main-font: "Poppins", sans-serif;
}

body {
  background-image: url("./assets/background_images/background_smartphone.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}

/*responsive media queries for the body*/
@media screen and (min-width: 768px) {
  body {
    background-image: url("./assets/background_images/background_desktop.jpg");
  }
}
